:local(.Result) {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 160px;
	justify-content: center;

	> div {
		text-align: center;
	}

	.winner {
		font-weight: bold;
		margin-bottom: 40px;
	}

	.play {
		align-self: center;
	}
}
