:local(.Choices) {
	margin: 10px;
	text-align: center;

	.choices {
		button {
			background-color: transparent;
			border: 0;

			&:not(:disabled) {
				cursor: pointer;
			}
		}
	}

	.reset {
		button {
			background-color: transparent;
			border: 0;
			color: #fff;
			cursor: pointer;
			font-size: 32px;
		}
	}
}
