:local(.WeaponList) {
	height: 160px;
	text-align: center;

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	li {
		display: inline-block;
	}

	button {
		$button-size: 120px;

		background: transparent;
		height: $button-size;
		padding: 0;
		width: $button-size;
	}

	.label {
		display: inline-block;
		font-size: 12px;
		margin: 10px 0;
	}
}
