:local(.Game) {
	color: black;

	.result-wrapper {
		text-align: center;

		> div {
			display: inline-block;
			vertical-align: middle;
		}

		.result {
			color: #fff;
			display: inline-block;
			font-size: 18px;
			padding: 30px;
			text-align: center;
			width: 200px;
		}

		.result-choice {
			text-align: center;

			.label {
				color: #fff;
				display: inline-block;
				padding: 6px;
			}
		}
	}

	.reset {
		button {
			background-color: transparent;
			border: 0;
			color: #fff;
			cursor: pointer;
			font-weight: bold;
			text-decoration: underline;
		}
	}
}
